<!-----------HEADER------------->
<nav class="navbar navbar-default navbar-static-top my-navbar ">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{title}}</a>
    </div>
  </div>
</nav>

<!-------------VERBS--------------->
<div class="container-fluid" (click)="track('DIV CLICKED')">
  <div class="panel-group my-panel" id="accordion" role="tablist" aria-multiselectable="true">
<!------ Verb component ------>
    <div class="panel panel-default panel-verb-rare text-center">
      <!--------- verb header ------>
      <div class="panel-heading" role="tab" id="headingOne">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-4">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#Verb0"
                   aria-expanded="true" aria-controls="collapseOne">
                  Forget
                </a>
              </h4>
            </div>
            <div class="col-xs-4">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#Verb0"
                   aria-expanded="true" aria-controls="collapseOne">
                  Forgot
                </a>
              </h4>
            </div>
            <div class="col-xs-4">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#Verb0"
                   aria-expanded="true" aria-controls="collapseOne">
                  Forgotten
                </a>
              </h4>
            </div>

          </div>
        </div>
      </div>

      <!----------------- verb body -------------------->
      <div id="Verb0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body my-panel-body">

          <div class="container-fluid">
            <div class="row-fluid">
              <div class="col-xs-4">
                <p class="prounoncation">Произношение <span>  |    </span><strong class="translation">Перевод</strong></p>
              </div>
              <div class="col-xs-4">
                <p class="prounoncation">Произношение <span>  |    </span><strong class="translation">Перевод</strong></p>
              </div>
              <div class="col-xs-4">
                <p class="prounoncation">Произношение <span>  |    </span><strong class="translation">Перевод</strong></p>
              </div>
            </div>
          </div>

          <div class="alert alert-warning" role="alert">
            <div class="container-fluid">
              <div class="row">
                <p><label>1st form:</label>  It is inpossible to forget! <i>Это невозможно забыть!</i></p>
                <p><label>1st form:</label>  It is inpossible to forget! <i>Это невозможно забыть!</i></p>
                <p class="last-item-margin"><label>1st form:</label>  It is inpossible to forget! <i>Это невозможно забыть!</i></p>

              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>



<!------------FOOTER--------------->
<div class="navbar-fixed-bottom row-fluid">
  <div class="navbar-inner">
    <div class="container-fluid">
      FOOTER
    </div>
  </div>
</div>
