<!-----------HEADER------------->
<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header mynavbar">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>

      </button>
      <a class="navbar-brand" href="#">{{title}}</a>
    </div>
  </div>
</nav>
<!-------------VERBS--------------->
<div class="container-fluid" (click)="track('DIV CLICKED')">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default panel-verb-rare">
      <div class="panel-heading" role="tab" id="headingOne">
        <div class="container">
          <div class="row">
            <div class="col-xs-4">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                   aria-expanded="true" aria-controls="collapseOne">
                  Forget
                </a>
              </h4>
            </div>
            <div class="col-xs-4">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                   aria-expanded="true" aria-controls="collapseOne">
                  Forgot
                </a>
              </h4>
            </div>
            <div class="col-xs-4">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                   aria-expanded="true" aria-controls="collapseOne">
                  Forgotten
                </a>
              </h4>
            </div>

          </div>
        </div>
      </div>

      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
          officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
          moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
          keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
          butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
          haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>

    </div>
  </div>
</div>


<!------------FOOTER--------------->
<div class="navbar-fixed-bottom row-fluid">
  <div class="navbar-inner">
    <div class="container-fluid">
      FOOTER
    </div>
  </div>
</div>
